<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

.dmCustomHtml  *{
font-family: 'Poppins', sans-serif !important;
//color: red !important;
}

#dm .ecwid *, .dmPhotoGallery p.caption-text{
//color: yellow;
}

//form buttons
.ecwid .form-control__button{
border-radius: 2.5rem !important;
}

//checkout btn font
.ecwid .details-product-purchase__checkout span{
color: white !important;
font-size: 1.125rem !important;
}

.ecwid .product-details-module{
color: black !important
}

html#ecwid_html body#dmRoot .ec-size.ec-size--l .ec-store h6, html#ecwid_html body#dmRoot .ec-size.ec-size--l .ec-store .ec-header-h6{
color: black !important
}

html#ecwid_html body#dmRoot .ec-size.ec-size--l .ec-store .details-product-price__value{
color: black
}

.details-product-purchase__add-to-bag  span{
color: white !important;
font-size: 1.125rem !important;
}

//product description page
.product-details__product-description *{
    color: black !important;
}

//category description title
.ecwid .grid__description-inner p{
color: black !important;
font-weight: 400;
}

//Search Bar Filters
html#ecwid_html body#dmRoot .ec-size .ec-store .ec-filters--inline.ec-filters--left.ec-filters--animation-opened .ec-filters__wrap *{
color: black !important;
}
//Search Bar Filters on Category Page
html#ecwid_html body#dmRoot .ec-size .ec-store .ec-filters--inline.ec-filters--right.ec-filters--opened *{
color: black !important;
}

//Product cart image background
html#ecwid_html body#dmRoot .ec-size .ec-store .grid-product--has-shadow .grid-product__shadow {
background-color: rgba(0,0,0,0)!important;
}

//Grid card title
.grid-product__title-inner{
color: #15232E !important;
font-weight: 500;
font-family: 'Poppins', sans-serif;
font-size: 16px !important;
}
//Grid card price
.grid-product__price-value.ec-price-item{
color: rgba(92, 92, 92, 1) !important;
font-weight: 400 !important;
margin-top: 5px !important;
font-family: 'Roboto', sans-serif;
font-size:16px;
}

//Search bar
.ecwid-search-widget__input {
border-radius: 2rem !important;
//font-size: 15px !important;
}

//category header
html#ecwid_html body#dmRoot .ec-size.ec-size--l .ec-store .ec-page-title+.ec-grid .grid__categories:first-child{
display: none;
}

.grid__categories.grid__categories--advanced.grid__categories--medium-items.grid__categories--aspect-ratio-1{
display: none !important;
}

//Sidebar search slider
html#ecwid_html body#dmRoot .ec-size .ec-store .ec-range__runner{
    width: 14px !important;
    height: 14px !important;
    box-shadow: 0 0 0 0px !important;
top: -5px !important;
}

html#ecwid_html body#dmRoot .ec-size .ec-store .ec-range__slider{
background: black !important;
}
html#ecwid_html body#dmRoot .ec-size .ec-store .ec-range__runner{
background-color: black !important;
    border: 2px solid black;
}