.footer-links{
    background-color: transparent !important;
  
  }
  
  .footer-links .link {
        color: white;
       
  }
  
  .footer-link-element {
       margin-bottom: 10px;
  }